{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Website{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/create_post.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/request_service.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/purchase.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/shop_store.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="{% static 'blog/images/favicon.ico'%}">
  <link rel="stylesheet" href="{% static 'blog/css/about_us.css' %}">
</head>
<body>
  <header>
    <div class="logo">
      <div class="menu-icon" onclick="toggleMenu()">☰</div>
      <img class="image-logo" src="{% static 'blog/images/logo.png' %}" alt="Moriana Plumbing" >
      Moriana Plumbing</div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'request_service' %}">Services</a></li>
            <li><a href="{% url 'shop_store'%}">Shop </a></li>
            <li><a href="{% url 'about'%}">About</a></li>
        </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    <!-- Content goes here -->
    {% endblock %}
  </main>
  <footer class="footer">
    <div class="footer-container">
        <div class="footer-contact">
            <h3>Contact Us</h3>
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <span>0748457227</span>
            </div>
            <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <span>mossesmgema37@gmail.com</span>
            </div>
            <div class="contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <span>Geita Tanzania</span>
            </div>
        </div>
        
        <div class="footer-social">
            <h3>Connect With Us</h3>
            <div class="social-icons">
                <a href="https://wa.me/<255748457227>" class="social-icon whatsapp">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#" class="social-icon instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="social-icon facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon twitter">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>&copy; 2025 Moriana Plumbing Services. All rights reserved.</p>
    </div>
</footer>
<script src="{% static 'blog/js/script.js' %}"></script>
</body>
</html>